ProgettoNodeRED.json
[{"id":"8fe57747.2c5018","type":"tab","label":"ProgettoUno","disabled":false,"info":""},{"id":"4fc9a5b5.3e70fc","type":"mosca in","z":"8fe57747.2c5018","mqtt_port":1883,"mqtt_ws_port":8080,"name":"","username":"user","password":"password","dburl":"","x":430,"y":60,"wires":[[]]},{"id":"92c61b8a.67a1b8","type":"http request","z":"8fe57747.2c5018","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"http://api.openweathermap.org/data/2.5/weather?q={{payload}}&appid=a4c32f8091db17fd8af362d707248635","tls":"","persist":false,"proxy":"","authType":"","x":510,"y":500,"wires":[["5195835a.7a1f9c"]]},{"id":"7154484f.f884a8","type":"debug","z":"8fe57747.2c5018","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1090,"y":500,"wires":[]},{"id":"ae696b5.405af98","type":"mqtt in","z":"8fe57747.2c5018","name":"","topic":"/arduinoSendRequest","qos":"0","datatype":"auto","broker":"a628f78b.586a18","x":240,"y":420,"wires":[["92c61b8a.67a1b8"]]},{"id":"65324a5e.760054","type":"inject","z":"8fe57747.2c5018","name":"","topic":"","payload":"turin","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":520,"wires":[["92c61b8a.67a1b8"]]},{"id":"5195835a.7a1f9c","type":"change","z":"8fe57747.2c5018","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.weather[0].main","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":500,"wires":[["c3888cbe.5693f","7154484f.f884a8"]]},{"id":"c3888cbe.5693f","type":"switch","z":"8fe57747.2c5018","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Thunderstorm","vt":"str"},{"t":"eq","v":"Drizzle","vt":"str"},{"t":"eq","v":"Rain","vt":"str"},{"t":"eq","v":"Snow","vt":"str"},{"t":"eq","v":"Clear","vt":"str"},{"t":"eq","v":"Clouds","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":7,"x":870,"y":500,"wires":[["c8f3676c.d2fcd8"],["789323f9.1c359c"],["b453ca08.b35998"],["6ecbab44.a77e44"],["3e618dca.b4a212"],["9d006f9b.b7c22"],["894fe26f.324a4"]]},{"id":"c6f7b1b0.cd376","type":"mqtt out","z":"8fe57747.2c5018","name":"","topic":"/arduinoReceiveRequest","qos":"","retain":"","broker":"5ed04d54.1266d4","x":950,"y":700,"wires":[]},{"id":"894fe26f.324a4","type":"change","z":"8fe57747.2c5018","name":"Etc == 7","rules":[{"t":"set","p":"payload","pt":"msg","to":"7","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":820,"wires":[["c6f7b1b0.cd376"]]},{"id":"c8f3676c.d2fcd8","type":"change","z":"8fe57747.2c5018","name":"Thunderstorm == 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":580,"wires":[["c6f7b1b0.cd376"]]},{"id":"789323f9.1c359c","type":"change","z":"8fe57747.2c5018","name":"Drizzle == 2","rules":[{"t":"set","p":"payload","pt":"msg","to":"2","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":620,"wires":[["c6f7b1b0.cd376"]]},{"id":"b453ca08.b35998","type":"change","z":"8fe57747.2c5018","name":"Rain == 3","rules":[{"t":"set","p":"payload","pt":"msg","to":"3","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":660,"wires":[["c6f7b1b0.cd376"]]},{"id":"6ecbab44.a77e44","type":"change","z":"8fe57747.2c5018","name":"Snow == 4","rules":[{"t":"set","p":"payload","pt":"msg","to":"4","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":700,"wires":[["c6f7b1b0.cd376"]]},{"id":"3e618dca.b4a212","type":"change","z":"8fe57747.2c5018","name":"Clear == 5","rules":[{"t":"set","p":"payload","pt":"msg","to":"5","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":740,"wires":[["c6f7b1b0.cd376","ba5fb661.46ed98"]]},{"id":"9d006f9b.b7c22","type":"change","z":"8fe57747.2c5018","name":"Clouds == 6","rules":[{"t":"set","p":"payload","pt":"msg","to":"6","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":780,"wires":[["c6f7b1b0.cd376"]]},{"id":"ba5fb661.46ed98","type":"debug","z":"8fe57747.2c5018","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":820,"y":760,"wires":[]},{"id":"a628f78b.586a18","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"5ed04d54.1266d4","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]